$z-index-drag-container: 1;
$z-index-loading-container: $z-index-drag-container + 1;

@mixin when-loading {
  &.minimap--is-loading {
    @content;
  }
}

// [1] Disable interactivity when loading.
.minimap {
  overflow: hidden;
  user-select: none;

  // [1]
  @include when-loading {
    &::before {
      content: "";
      inset: 0;
      pointer-events: all;
      position: absolute;
      width: 100%;
      z-index: $z-index-loading-container;
    }
  }
}

.minimap--is-right-centered {
  bottom: 0;
  margin-bottom: auto !important;
  margin-top: auto !important;
  position: fixed;
  right: 0;
  top: 0;
}

.minimap__viewport {
  cursor: grab;
  height: 100%;
  position: relative;
}

// [1] Prevent repaints when translateY is used via JavaScript.
.minimap__content {
  height: 100%;
  position: absolute;
  transition: transform 150ms ease-out;
  width: 100%;
  will-change: transform; // [1]
}

// [1] Prevent repaints when translateY is used via JavaScript.
.minimap__drag-container {
  position: absolute;
  transition: transform 150ms ease-out;
  width: 100%;
  will-change: transform; // [1]
  z-index: $z-index-drag-container;
}

// [1] Prevent dragging of elements.
.minimap__element {
  display: flex;
  pointer-events: none; // [1]
  position: absolute;
  width: 100%;

  > img,
  svg {
    width: 100%;
  }
}
